/*root variables*/
:root {
  --white-color: #ffffff;
  --dark-shade-grey-color: #303030;
  --white-smoke-color: #f0f0f0;
  --black-shadow-color: rgba(0, 0, 0, 0.15);
  --pale-blue-color: #dcf4ff;
  --bright-blue-color: #005eac;
  --light-blue-color: #aedcf5;
  --dark-grey-color: #b0b0b0;
  --sky-blue-color: #1da4ff;
  --faux-ocean-color: #0072c2;
  --light-grey-color: #e0e0e0;
  --suva-grey-color: #909090;
  --lynx-white-color: #f7f7f7;
  --rough-n-tumble-color: #5a4949;
  --light-sky-blue-color: rgba(136, 221, 255, 0.15);
}

/* Button
bk/rd-button-primary/secondary :  v1
button-module__primary/secondary: v2
*/

.rd-button-primary,
.bk-button-primary,
.button-module__primary {
  font-weight: 800 !important;
  background: linear-gradient(
    144.82deg,
    #0072c2 5.58%,
    #1792e5 93.38%
  ) !important;
  box-shadow: 1px 1px 1px var(--black-shadow-color) !important;
  border-radius: 4px !important;
  color: var(--white-color);
}

.rd-button-primary:hover,
.bk-button-primary:hover,
.button-module__primary:hover {
  background: var(--sky-blue-color) !important;
}

.rd-button-primary:active,
.bk-button-primary:active,
.button-module__primary:active {
  background: var(--faux-ocean-color) !important;
}

.rd-button-primary[disabled],
.bk-button-primary[disabled],
.button-module__primary[disabled],
.bk-disabled-button.bk-primary-button {
  background: var(--dark-grey-color) !important;
  border-radius: 4px !important;
  color: var(--white-color);
}

.rd-button-secondary,
.bk-secondary-button,
.button-module__secondary {
  background: var(--white-color) !important;
  color: var(--dark-shade-grey-color) !important;
  border: 1px solid var(--white-smoke-color) !important;
  box-sizing: border-box !important;
  box-shadow: 1px 1px 1px var(--black-shadow-color) !important;
  border-radius: 4px !important;
}

.rd-button-secondary:hover,
.bk-secondary-button:hover,
.button-module__secondary:hover {
  background: var(--pale-blue-color) !important;
  color: var(--bright-blue-color) !important;
  border: 1px solid transparent !important;
}

.rd-secondary-button:active,
.bk-secondary-button:active,
.button-module__secondary:active {
  background: var(--light-blue-color) !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

.rd-secondary-button[disabled],
.bk-secondary-button[disabled],
.button-module__disabled,
.bk-disabled-button.bk-secondary-button {
  border: 1.5px solid var(--dark-grey-color) !important;
  background: var(--white-color);
  color: var(--dark-grey-color) !important;
  pointer-events: none;
}

/*develop tab see in live btn */
.button-module__primary > .button-module__buttonText {
  color: var(--white-color);
}

/*select 
.bk: v1
.select-module: v2
*/
.bk-select-visibility {
  border: none !important;
}

.bk-select-head,
.select-module__selectHead {
  border: 1px solid var(--light-grey-color) !important;
  box-shadow: 1px 1px 1px var(--black-shadow-color) !important;
  border-bottom-right-radius: 4px !important;
  border-radius: 4px !important;
  background-color: var(--white-color) !important;
  font: 16px !important;
  color: var(--dark-shade-grey-color) !important;
}

.bk-select-head::after {
  border-bottom: none !important;
}

.bk-select-head:active,
.bk-select-head:hover,
.select-module__selectHead:hover,
.select-module__selectHead:active {
  border: 1px solid var(--suva-grey-color) !important;
}

/* select disabled */
.bk-select-head.bk-disabled,
.bk-dropdown-item-disabled,
.select-module__selectHead[disabled] {
  color: var(--dark-grey-color) !important;
  background: var(--lynx-white-color) !important;
}

/* dropdown up icon caret background */
.select-module__selectOpen > [data-radiant-v2].icon-module__gray,
.bk-select.bk-dropdown-open .dropdown-caret {
  background: var(--light-blue-color) !important;
  border-radius: 4px !important;
}

.bk-action-menu,
.select-module__popoverWrapper > .menu-module__actionMenu {
  background: var(--white-smoke-color) !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.select-module__popoverWrapper
  > [data-radiant-v2]
  .input-base-module__container {
  border: none !important;
  padding-left: 14px;
  background: var(--white-smoke-color) !important;
  border-radius: 0 !important;
  border-bottom: 2px solid var(--light-grey-color) !important;
}

.select-module__popoverWrapper > .input-text-module__container {
  padding: 0 !important;
}

.bk-dropdown-item-info:hover,
.bk-dropdown-item-container :hover,
.menu-module__itemInfo:hover {
  background: var(--light-sky-blue-color) !important;
}

.bk-dropdown-item-info:hover > .bk-dropdown-text,
.menu-module__itemInfo:hover > .menu-module__itemText > p {
  color: var(--bright-blue-color) !important;
}
